.div1{
    border: 2px solid black;
    height: 50px;
    width: 100%;
    background: lightblue;

}
.divin1{
    
    height: 50px;
    width: 60%;
    float: left;
}
.divin2{
    
    height: 40px;
    float: right;
    width: 15%;
    margin: 0px 10px;
    
    
}
mat-grid-tile {
    background: lightblue;
    
    
  }
mat-grid-tile:hover {
    background: red;
  }

.loginB{
    border-radius: 10px;
    border: 1px solid red;
    margin: 5px 0px;
}

