.ttmain{
    width: 100%;
    height: 100%;
    position: absolute; 
    
  }
  .uperdiv{
    width: 100%;
    height: 20%;
    
  }
  .lowerdiv{
    width: 100%;
    height: 80%; 
        
    
  }
  .test {
    background: lightblue;
  }



  .forms1{
    width: 100%;
    height: 100%;
}

.listdiv{
  width: 90%;
  height: 100%;
  overflow:auto;
  position:absolute;
}
.list{
   width:100%;
   margin: 10px 0px;
   margin-left: 0px ;
   padding-left: 5px;
   list-style-type: none; 
}
.compLine{
  width: 90%;
  height: 60px;
  background-color: rgb(84, 115, 255);
  margin: 20px;
  border-radius: 10px;
  margin-left: 0px; 
  box-shadow: 
        5px 5px 10px #add8e6,
        10px 10px 20px rgba(0, 0, 0, 1);
  
}






.iconClass{
  font-size: 18px;
  bottom: 0px;
  margin: -10px 0px;
  
}


.infodiv{
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  border-radius: 20px;
  /* background-color:#212243; */
  background-color:rgb(84, 115, 255);
  color: white;
  border: 15px solid black;

  display: none; 
  
}
.closebdiv{
  width: 100%;
  height: 10%;
}
.closebutton{
  transform: scale(1.5);
  float:right;
  margin: 15px 20px;
}

.infolowerdiv{
  width: 100%;
  height: 87%;
}

.timepopup{
  position: absolute;
  right: 10px;
  bottom: 20px;
  
}
.textpopup{
  margin: 20px 25px;
}
.complpopup{
  margin: 20px 25px;
  height: 38%;
  overflow: auto;
}



@media only screen and (max-width:600px) {
  .forms1{
    font-size: 13px;
}
.iconClass{
  font-size: 18px;

}
.infodiv{
  width: 80%;
  height: 80%;
  font-size: 13px;
  
}
.textpopup ,.complpopup{
  font-size: 20px;
}
}





@media only screen and (max-width:400px) {
  
  .forms1{
    font-size: 10px;
}
.iconClass{
  font-size: 15px;
 ;
  
}
.infodiv{
  font-size: 10px;
  
}
.textpopup ,.complpopup{
  font-size: 15px;
}
}



