
<div class="maininfo">
    <div class="dpback" >
        
        <img alt="dp" [src]=s1 class="backphoto">   

        <div class="dpdiv">
            <img alt="dp" src='https://vinitpatil1001.pythonanywhere.com{{image}}' class="dpimg">    
        </div>
    </div>
    <div class="infodivinside">
        <mat-grid-list cols="2" rowHeight="30%">
            <mat-grid-tile>NAME:-<strong>{{name}}</strong> </mat-grid-tile>
            <mat-grid-tile>MOTHER:-<strong>{{mother}}</strong></mat-grid-tile>
            <mat-grid-tile>EMPLOY ID:-<strong>{{employe_id}}</strong></mat-grid-tile>
            <mat-grid-tile>MOBILE NO:-<strong>{{mobile_no}}</strong></mat-grid-tile>
            <mat-grid-tile>B-DAY:- <strong>{{b_day}}</strong></mat-grid-tile>
            <mat-grid-tile>ADDRESS:- <strong>{{address}}</strong></mat-grid-tile>

          </mat-grid-list>    
    </div>

</div>