.maininfo{
    width: 100%;
    height: 100%;
    position: absolute;
}
.dpback{
    background-color: skyblue;
    width: 100%;
    height: 150px;
    position: relative;
    top:0px;
}
.dpdiv{
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.dpimg{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.infodivinside{
    width: 80%;
    height: 50%;
    margin-top: 105px;
    position: relative;
    border-radius: 25px;
    left:50%;
    transform: translate(-50%, 0%);
}
.backphoto{
    width: 100%;
    height: 100%;

}

mat-grid-tile {
    background: rgb(194, 255, 137);
    border-radius: 25px;
  }

@media only screen and (max-width:600px) {
    .dpback{
        height: 125px;
    }
    .dpdiv{
        width: 145px;
        height: 145px;
        
    }
    .infodivinside{
        width: 90%;
        margin-top: 77px;
        font-size: 13px;
    }
}

@media only screen and (max-width:400px) {
    .infodivinside{
        font-size: 10px;
    }

}