.mainh1{
    font-size: 25px;
    margin: 0px 60px;
    
}






.backp{    
    width: 100%;
    max-height: 600px;        
    opacity: 0.9;
    position: absolute;
    
}
.navbar{
   /* border: 2px solid red;*/
   
    padding: 30px 0px 0px 0px;
    height: 40px;
    position: relative;
    
    
}
.logo{
    margin: 30px 0px 0px 20px;
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    justify-content:flex-start;
}
.navoption{
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-around;
}
.option{
    width: 25%;
    height: 100%;
    display: inline-block;
    font-size: 12px;
    text-align:center;
    
    
}
.linkcol{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
  
}

.insitetext{
    border: 2px solid blue;
    width: 50%;
    top:35%;
    left: 25%;
    text-align: center;
    position: absolute;
    align-items:end;
    
    
}
.insiteh1{
    font-size: 25px;
    width: 95%;
    margin: 10px 10px;
    backdrop-filter: blur(3px);    
}
.blurback{
    backdrop-filter: blur(3px);
    width: 95%;
    margin: 0px 10px;
}
.buttoninsite{
    margin: 10px 0px;
}
.logosize{
    width: 50px;
    height: 50px;
}
.schoolname{
    font-size: 15px;
    margin: 0px 0px 0px 5px;
}
.navoptionM{
    display: none;
}









.servicemain{
    position:relative;
    width: 100%;
    height: 550px;
    max-height: 550px;
    top:500px;
    justify-content: space-around;
}


.servimg{
    width: 30%;
    height: 40%;
    position: absolute;
    top: 10px;
}
.servh3{
    position: absolute;
    margin: 10px 0px 0px 0px;
}
.servp{
    margin: 120px 0px 0px 0px;
    width: 70%;

}






.videomain{
    width: 100%;
    height: 600px;
    margin: 50px 0px 0px 0px;
    top: 300px;
    position: relative;
}
.videoindiv1{
    width: 100%;
    height: 31.5%;
}
.videoindiv2{
    width: 100%;
    height: 57%;
    top:190px;
    position: absolute;
}
.vdiv2in1{
    width: 60%;
    height: 100%;
}
.videomainwidth{
    width: 100%;
    min-height: 100%;
    
}
.vdiv2in2{
    width: 40%;
    height: 100%;
    float: right;    
    position: absolute;  
    top:0px;  
    right: 0px;
}
.insideiamge{
    position: absolute;
    top: 50%;
    left: 30%;    
    
}

.vdiv2in2:hover  .insideiamge{
    display: none;
}

.vdiv2in2:hover  .insidelist{
    display: block;
}
.insidelist{
    position: absolute;
    top: 1%;
    left: 5%;
    display: none;
    
}
.insidelist li{
    margin: 30px 0px;
    font-size: 20px;
    font-weight: bold;
}
.viddivimg{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.textdivmainBL{
    background-color: rgb(39, 39, 39);
    
      
}
.textdivmainB{
    background-color: skyblue;
       
}
.insiderankdivBL{
    font-size: 20px;
    color: skyblue;
    text-align: center;
    
}
.insiderankdivB{
    font-size: 20px;
    color: black;
    text-align: center;
       
}






.erpmain{
    position: relative;
    height: 300px;
    top:280px;
}
.sterp{
    
    width:80%;
    height: 80%;
    position: absolute;
    border-radius: 10px;

}
.erpdivintile{
    top: 0%;
    width: 80%;
    height: 80%;
}
.erphoverdiv{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}
.erpdivintile:hover .erphoverdiv{
    display: flex;
}
.erpdivintile:hover .sterp{
    filter: blur(7px);
   

}
.erpdivintile:hover .erph3{
    display: none;

}
.erpdivintile:hover .erph3N{
    display: none;

}
.erph3{
    position: absolute;
    color: black;
    float: right;
    top:20%;
    right: 20%;
    backdrop-filter: blur(8px);

}
.erph3N{
    position: absolute;
    color: black;
    top:20%;
    left: 20%;
    backdrop-filter: blur(8px);

}
.erpbutton{
    position:absolute;
    top: 50%;
    left: 40%;
    
}
.erpbuttonN{
    position: absolute;
    top: 50%;
    left: 40%;
}
.stuloginmain{
    width: 60%;
    height: 80%;
    position: fixed;
    top:10%;
    left:18%;
    z-index: 10000;
    display: none;
    background-color:skyblue;
    box-shadow: 5px 10px;
    border-radius: 20px;
    z-index: 1;

}
.teachloginmain{
    border: 2px solid red;
    width: 60%;
    height: 80%;
    position: fixed;
    top:10%;
    left:18%;
    z-index: 10000;
    display: none;
    background-color: rgb(64, 228, 240);
    box-shadow: 5px 10px;
    border-radius: 20px;
    z-index: 1;
}
.closebdiv{
   
    width: 100%;
    height: 10%;
}
.closebutton{
    transform: scale(1.5);
    float:right;
    margin: 15px 20px;
}
.mat-from1 {
    position: relative;
    width: 80%;
    left: 10%;
    margin: 10px 0px;
}
.buttonSlogin{
    width:80%;
    height: 60px;
    margin-left: 10% ;
    margin-top: 20px;
}








.aboutmain{
    height: 600px;
    position: relative;
    top:360px;
    
}
.aboutpdiv{
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 225px;
    background-color:skyblue ;
    overflow:auto; 

}
.aboutvid{
    border: 2px solid black;
    width: 55%;
    height: 300px;
    margin: 20px 10px;
    display: inline-block;
}
.aboutpic{
    width: 40%;
    height: 340px;
    margin: 0px 10px;
    float: right;
}
.imageabout{
   
    width: 100%;
    height: 50%;
}
.abouts1{
    width:100%;
    height: 98%;
}
.abouts23{
    width:50%;
    height: 98%;
}
.aboutpass{
    font-size: 20x;
    margin: 30px 50px 0px 50px;
}







.contactmain{
    width: 100%;
    height: 600px;
    position: relative;
    top: 450px;
}
.contactindiv{
    position:absolute;
    width: 100%;
    height: 60%;
    top:20%;
    background-color: skyblue;
}
.contactformd{
    position: absolute;
    width: 40%;
    height: 80%;
    top: 10%;
    left:50%;
    background-color: rgb(121, 160, 235);
    box-shadow: 5px 10px;
}
.contacth1{
    
    text-align: center;
    margin: 40px 0px 0px 0px;
}
.contactformdiv2{
    
    width: 60%;
    margin: 30px 20%;
}
.formbcolor{
    background-color: rgb(121, 160, 235);
}

.mat-from {
    width: 100%;
}
.buttoncontact{
    width:60%;
    margin-left: 20%;
}
.contactno{
    height: 100%;
    width: 40%;
    float: left;
    margin: 0px 50px;
}
.contactnoin{
    text-align: center;
    width: 100%;
    height: 25%;
    margin: 5px 0px;
}
.contacticon{
    display: inline;
    height: 100%;
    margin: 0px 10px;
}
.contacth1N{
    width: 40%;
    height: 40px;
    margin: 27px 0px 0px 80px;
   
    
    
}
.contactinfo{
    float: left;
    margin: -20px 0px;
    font-size: 20px;
    width: 100%;
}










.footermain{
    position: relative;
    height: 400px;
    overflow: hidden;
    top:490px;
}  
.footshap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    transform: skewY(5deg);
    transform-origin: left bottom;
    
}

.footinmain{
    top:100px;
}
.footlogo{
    width: 15%;
    position: absolute;
    left:50px;
    top:55px;
}
.footh1{
    font-size: 18px;
    position: absolute;
    left:115px;
    top:58px;
}
.fa-facebook {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 10px;
}
.fa-instagram {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 10px;

}
.fa-twitter {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 10px;

}
.fa-linkedin {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 10px;

}
.footcompany{
    font-size: 25px;
    position: absolute;
    top:10%;
}
.footcompp{
    font-size: 15px;
    position: absolute;
    top:60px;
    
}
.footcompp1{
    font-size: 15px;
    position: absolute;
    top:90px;
}
.footcompp2{
    font-size: 15px;
    position: absolute;
    top:120px;
}
.footcompp3{
    font-size: 15px;
    position: absolute;
    top:150px;
}
.footlink{
    text-decoration: none;
    color: black;

}
.footcontp{
    font-size: 15px;
    margin: 0px 10px 0px 0px;
}
.map{
    width: 140px;
    height: 190px;
    position: relative;
}
.footcontact{
    font-size: 25px;
    position: absolute;
    left: 40px;
    top:10%;
}
.footcopy{
    width: 100%;
    height: 30px;
    position: relative;
    top:30px;
    text-align: center;
    font-size: 13px;
}


/* 
@media only screen and (min-width:1130px) {
    
    
    .videomainwidth{
        height:120%;
    }
    .videoindiv2{
        top:219px;
       
    }


    .erpmain{
        
        top:300px;
    }



    .aboutmain{
        top:380px;
        
    }


    .footh1{
        left:120px;
    }


    .footcontact{
        left: 60px;
    }

}



@media only screen and (min-width:1275px) {
    
    
    .videomainwidth{
        height: 130%;
    }
    .videoindiv2{
        top:243px;
       
    }

    .erpmain{
        
        top:320px;
    }

    .aboutmain{
        top:400px;
        
    }


    .footh1{
        left:130px;
    }

    .footcontact{
        left: 100px;
    }


}

@media only screen and (min-width:1360px) {
    
    
    .videomainwidth{
        height: 140%;
    }
    .videoindiv2{
        top:259px;
       
    }

    .erpmain{
        
        top:340px;
    }

    .aboutmain{
        top:420px;
        
    }


    .footh1{
        left:140px;
    }




    .footcontact{
        left: 100px;
    }

}



@media only screen and (min-width:1530px) {
    
    
    .videomainwidth{
        height: 150%;
    }
    .videoindiv2{
        top:285px;
       
    }


    .erpmain{
        
        top:360px;
    }


    .aboutmain{
        top:440px;
        
    }


    .footh1{
        left:150px;
    }


    .footcontact{
        left: 140px;
    }

}



@media only screen and (min-width:2043px) {
    
    
    .videomainwidth{
        height: 210%;
    }
    .videoindiv2{
        top:392px;
       
    }


    .videomain{
        top: 400px;
    }



    .erpmain{
        
        top:580px;
    }




    .aboutmain{
        top:630px;
        
    }


}
 */




@media only screen and (max-width:600px) {

.backp{    
    height: 350px;        
    
    
}
    .logo{
        margin: -5px 0px 0px 10px;
    }  
    .logosize{
        width: 30px;
        height: 30px;
    }
    .schoolname{
        font-size: 10px;       
        
    }
    .navoption{
        display: none;
        
    }
    .navoptionM{
        width: 100%;
        height: 90%;
        position: relative;
        display: block;

    }
    .mobinavcon{
        float: right;
       margin: 0px 10px 0px 0px;
        
    }
    .mobileoptiondiv{
        position: absolute;
        top:100%;
        width: 100%;
        height: 200px;
        display: none;
        background-color: skyblue ;
        
                
    }

    .navoptionM:hover  .mobileoptiondiv{
        display: block;
        
    }
    .navbotton{
        width: 100%;
        height: 22%;
        margin: 3px 0px 2px 0px;
        background-color: blue;
    }



    .servicemain{
        
        top:300px;
        
    }
    

    .videomain{
        top: 1300px;
    }
    .vdiv2in1{
        width: 100%;
        height: 100%;
        display: block;
    }
    .vdiv2in2{
        width: 100%;
        height: 100%;
        position: relative;
        
    }



    .erpmain{
        top:1620px;
    }




    .aboutmain{
        
        top:2600px;
        
    }
    .aboutpdiv{        
        height: 350px;
    }
    .aboutvid{        
        width: 100%;
        height: 300px;
        margin: 0px;
        display: block;
    }
    .aboutpic{
        width: 100%;
        height: 340px;
        margin: 0px;
        float: right;
    }




    .contactmain{
        top: 3050px;
    }
    .contacth1N{
        width: 60%;
        height: 40px;
        margin: 20px 0px 0px 30px;
       font-size: 15px;
        
        
    }
    .contactinfo{
        font-size: 12px;
        
    }
    .contactnoin{
        height: 30%;
    }
    



    .footermain{
        height: 1020px;
        top:3100px;
    }
    .footlogo{
        width: 10%;
        left:150px;
        top:55px;
    } 
    .footh1{
        left:215px;
        top:58px;
    }
    .footcopy{
        top:105px;
    }
    .footcontact{
        margin: 0px 400% 0px 0px;
        
    }

}




@media only screen and (max-width:420px) {
    .mainh1{
        font-size: 20px;
        text-align: center;
        
    }



    .servicemain{
        
        top:280px;
        
    }



    .videomain{
        top: 800px;
    }
    

    .erpmain{
        top:1100px;
    }
     

    .aboutmain{
        
        top:2050px;
        
    }


    .contactmain{
        top: 2530px;
    }
    .contacth1N{
        width: 70%;
        height: 40px;
        margin: 10px 0px 0px 20px;
       font-size: 13px;
        
        
    }
    .contactinfo{
        font-size: 10px;
        
    }
    .contactno{
        
        margin: 0px 10px;
    }
    .contactnoin{
        height: 30%;
        margin: 5px 0px;
    }
    .contactformd{
        width: 50%;
        height: 70%;
        top: 15%;
        left:45%;
        
    }




    .footermain{
        height: 820px;
        top:2550px;
    }
    .footlogo{
        width: 10%;
        left:80px;
        top:50px;
    } 
    .footh1{
        font-size: 15px;
        left:125px;
        top:53px;
    }
    .footcontp{
        font-size: 13px;
        margin: 0px 10px 0px 0px;
    }
    .footcontact{
        margin: 0px 40% 0px 0px;
        
    }
    .footcopy{
        top:150px;
    }



    

    
    
}
