<!--<app-header></app-header>
<p>home works!</p>
-->

  
<img alt="back photo" [src]=backphoto class="backp">
  
  <div class="navbar" id="home">
    <div class="logo">
        <img alt="back photo" [src]=logo class="logosize">
        <h1 class="schoolname"><strong>INDIA HIGH SCHOOL, INDIA</strong></h1>
    </div>
    <div class="navoption">
        <div class="option"><a (click)="nav('home')" class="linkcol"><strong>HOME</strong></a></div>
        <div class="option"><a (click)="nav('about')" class="linkcol"><strong>ABOUT US</strong></a></div>
        <div class="option"><a (click)="nav('contact')" class="linkcol"><strong>CONTACT</strong></a></div>
        <div class="option"><a href="" class="linkcol"><strong>BLOG</strong></a></div>

    </div>
    
    <div class="navoptionM">
        <mat-icon class="mobinavcon" (click)="opennav()">dehaze</mat-icon>
        <div class="mobileoptiondiv" [style.display]="navclose">
            <div class="closebotton" >
                <mat-icon (click)="closenavf()" class="closenav">clear</mat-icon>       
                <b >NAVIGATION BAR</b>
            </div >
            
            <div class="navbotton" (click)="nav('home')">
                <b >HOME</b>
            </div>

            <div class="navbotton" (click)="nav('about')">
                <b >ABOUT</b>
            </div>

            <div class="navbotton" (click)="nav('contact')">
                <b >CONTACT</b>
            </div>

            <div class="navbotton" (click)="nav('BLOG')">
                <b >BLOG</b>
            </div>

    
        </div>

    </div>
    
    

</div>
<!--
<div class="insitetext">
    <h1 class="insiteh1"><strong>BEST EDUCATION FOR SCHOOL</strong></h1>
    <h3 class="blurback">Engaging all students in partnership with family and community <br>to become informed, compassionate, global citizens.</h3>
    <button mat-raised-button color="warn" class="buttoninsite">Join Us</button>
</div>
-->





<div class="servicemain">
    <h1 class="mainh1"><strong>WHY CHOOS US</strong></h1>
    <mat-grid-list [cols]="cols" (window:resize)="onResize($event)">
        <mat-grid-tile class="serviceborder">
            <div class="serviceborder1">
                <img alt="back photo" [src]=learning class="servimg">
                <h3 class="servh3"><strong>LEARNING</strong></h3>
                <p class="servp">Education is the key to all the  locked doors of the unknown.</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="serviceborder">
            <div class="serviceborder1">
                <img alt="back photo" [src]=event class="servimg">
               <h3 class="servh3"><strong>EVENTS</strong></h3>
               <p class="servp">Memorable events don't just happen. They happen to be our business.</p>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile class="serviceborder" >
            <div class="serviceborder1" >
                <img alt="back photo" [src]=teacher class="servimg">
                <h3 class="servh3"><strong>TELENTED TEACHERS</strong></h3>
                <p class="servp">Good teaching is one-fourth preparation and three-fourths theater.</p>
        
            </div>
            
        </mat-grid-tile>
    </mat-grid-list>
</div>
  
<!-- to get width of device
    <P>{{width}}</P> -->



<div class="videomain" >
    <section class="videoindiv1">
        <video class="videomainwidth"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source [src]="video1" type="video/mp4">
            
          Your browser does not support the video tag.
        </video>

    </section>
    <div class="videoindiv2">


        <div class="vdiv2in1">
            <mat-grid-list cols="2" rowHeight="50%">
                <mat-grid-tile class="textdivmainBL">
                    <h3 class="insiderankdivBL">TOP RANKED SCHOOL <br> <strong> No4 In India</strong></h3>
                    
                </mat-grid-tile>
                <mat-grid-tile class="textdivmainB">
                    <h3 class="insiderankdivB">AFFILIATED BOARD'S <br> <strong>CBSC/SSC/HSC</strong></h3>

                </mat-grid-tile>
                <mat-grid-tile class="textdivmainB">
                    <h3 class="insiderankdivB">BEST AWARDS <br> <strong>President's Education Award</strong></h3>
                 

                </mat-grid-tile>
                <mat-grid-tile class="textdivmainBL">
                    <h3 class="insiderankdivBL">TOP RANKED SCHOOL <br> <strong> No1 In Mumbai</strong></h3>

                </mat-grid-tile>
            </mat-grid-list>
          

        </div>


        <div class="vdiv2in2">
            <mat-grid-list cols="1" rowHeight="100%" >
                <mat-grid-tile class="viddivimg">
                    <img alt="back photo" [src]=viddiv class="viddivimg">
                </mat-grid-tile> 
                <h1 class="insideiamge"><strong>WE OFFERED</strong></h1>
            <ul class="insidelist">
                <li>Science Laboratories</li>
                <li>Mathematics Laboratory</li>
                <li>Music Room and Dance Studio</li>
                <li>Music Room and Dance Studio</li>
                <li>Medical Room</li>
                <li>School Transport</li>
              </ul>               
            </mat-grid-list>
            

        </div>

    </div>


</div>




<div class="erpmain">
    <h1  class="mainh1"><strong>ERP LOGIN</strong></h1>
    <mat-grid-list [cols]=erpcols rowHeight="100%" >
        <mat-grid-tile >
            <div class="erpdivintile">
                <img alt="back photo" [src]=student class="sterp">
                <h2 class="erph3"><strong>STUDENT LOGIN</strong></h2>
                <div class="erphoverdiv">
                    <button mat-raised-button color="warn" class="erpbutton" (click)="dis1()">LOGIN</button>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile >
            <div class="erpdivintile">
                <img alt="back photo" [src]=techererp class="sterp">
                <h2 class="erph3N"><strong>TEACHER LOGIN</strong></h2>
                <div class="erphoverdiv">
                    <button mat-raised-button color="warn" class="erpbuttonN" (click)="dis2()">LOGIN</button>
                </div>
            </div>
        
            
        </mat-grid-tile>
        
      </mat-grid-list>

</div>

<!--
    <div class="erpmain">
    <h1  class="mainh1"><strong>ERP LOGIN</strong></h1>
    <mat-grid-list cols="2" rowHeight="100%">
        <mat-grid-tile style="border: 2px solid red;">
            <img alt="back photo" [src]=student class="sterp">
            <h2 class="erph3"><strong>STUDENT LOGIN</strong></h2>
            <button mat-raised-button color="warn" class="erpbutton" (click)="dis1()">LOGIN</button>

        </mat-grid-tile>
        <mat-grid-tile>
            <img alt="back photo" [src]=techererp class="sterp">
            <h2 class="erph3N"><strong>TEACHER LOGIN</strong></h2>
            <button mat-raised-button color="warn" class="erpbuttonN" (click)="dis2()">LOGIN</button>
      
        </mat-grid-tile>
      </mat-grid-list>

</div>



    student login window
-->
<div class="stuloginmain" [style.display]="display1">
    <div class="closebdiv">
        <mat-icon (click)="close1()" class="closebutton">clear</mat-icon>       
        <!-- just to give user data fir test-->
        <p style="text-align: center;"><b>example ID<br>User:- vinit<br> password:- v@12345678</b></p>

    </div>
    

    <div style="width: 80%;height: 60%;left: 10%;top:20%;position: absolute;">
        <form #userPost="ngForm" enctype="multipart/form-data" method="POST" class="example-form" (ngSubmit)="studentlogin(userPost.value)">
                        
            <mat-form-field class="mat-from1"> 
                <mat-label >USERNAME</mat-label>
                <input matInput name="username"   placeholder="Ex. vinit" ngModel>
            </mat-form-field><br>
        
            <mat-form-field  class="mat-from1">
              <mat-label>PASSWORD</mat-label>
              <input matInput type="password" name="password"  placeholder="Enter Password Here" ngModel>
            </mat-form-field><br>

            <button mat-raised-button color="warn" value = "submit" type="submit"  class="buttonSlogin" >SINGIN</button>

        </form>
    </div>
    
</div>

<!--
    teacher login window
-->
<div class="teachloginmain" [style.display]="display2">

    <div class="closebdiv">
        <mat-icon (click)="close1()" class="closebutton">clear</mat-icon>   
        <!-- just to give user data fir test-->
        <p style="text-align: center;"><b>example ID<br>User:- jyostna<br> password:- j@12345678</b></p>
    </div>
        <div style="width: 80%;height: 60%;left: 10%;top:20%;position: absolute;">
            <form #userPost2="ngForm" enctype="multipart/form-data" method="POST" class="example-form" (ngSubmit)="teacherlogin(userPost2.value)">
                            
                <mat-form-field class="mat-from1"> 
                    <mat-label >USERNAME</mat-label>
                    <input matInput name="username"   placeholder="Ex. jyotsna" ngModel>
                </mat-form-field><br>
            
                <mat-form-field  class="mat-from1">
                  <mat-label>PASSWORD</mat-label>
                  <input matInput type="password" name="password"  placeholder="Enter Password Here" ngModel>
                </mat-form-field><br>
    
                <button mat-raised-button color="warn" value = "submit" type="submit"  class="buttonSlogin" >SINGIN</button>
    
            </form>
        </div>    
   
    
</div>






<div class="aboutmain" id="about" >
    <h1 class="mainh1"><strong>ABOUT US</strong></h1>
    
    <div class="aboutpdiv">
        <p class="aboutpass">A good school will have fair-minded, passionate, honest, well-mannered, inspirer, skilled, and supportive mentors who will have a strong positive impact on the student’s attitude and personality. A quality teacher will always take out time to update their knowledge, improve their skills, and find ways to make the students motivated and engaged while teaching. Similarly, the administrators of a good school will be highly supportive and professional to the requirements of academic staff. <br>A good school will maintain hygiene and have a comfortable setting for students to be able to develop their skills and grasp knowledge.Cambridge School is one of the top schools in Greater Noida and is known for its green, safe, spacious, and well-organized infrastructure to ensure effective space for proper child learning and growth.</p>
    </div>
    <div class="aboutvid">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/cJjLhV_hsWA" frameborder="0" allowfullscreen></iframe>

    </div>
    <div class="aboutpic">
        <div class="imageabout">
            <img alt="back photo" [src]=s2 class="abouts23">
            <img alt="back photo" [src]=s3 class="abouts23">

        </div>
        <div class="imageabout">
            <img alt="back photo" [src]=s1 class="abouts1">

          
        </div>
    </div> 
</div>







<div class="contactmain" id="contact">
    <div class="contactindiv">
        <div class="contactno">
            <div class="contactnoin">
                
                <h1 class="contacth1N">
                    <mat-icon class="contacticon">phone</mat-icon>
                    <strong>CALL US</strong>
                </h1><br>
                <p class="contactinfo">+91-9012345678</p>

            </div>
            <div class="contactnoin">

                <h1 class="contacth1N">
                    <mat-icon class="contacticon">location_on</mat-icon>
                    <strong>ADDRESS</strong>
                </h1><br>
                <p class="contactinfo">151, 15th Floor, B Wing, Mittal Tower, Nariman Point,mumbai 421 567</p>

            </div>
            <div class="contactnoin">

                <h1 class="contacth1N">
                    <mat-icon class="contacticon">email</mat-icon>
                    <strong>EMAIL US</strong>
                </h1><br>
                <p class="contactinfo">helpdesk@indianschool.com</p>

            </div>

        </div>

    </div>
    <div class="contactformd">
        <h1 class="contacth1">CONTACT US</h1>

        <div class="contactformdiv2">
            <form #userPost1="ngForm" enctype="multipart/form-data" method="POST" class="example-form" (ngSubmit)="contactfrom(userPost1)">
                <mat-form-field class="mat-from"> 
                    <mat-label >NAME</mat-label>
                    <input matInput name="name"  placeholder="Ex. vinit" ngModel >
                </mat-form-field><br>
            
                <mat-form-field  class="mat-from">
                  <mat-label for="email">EMAIL</mat-label>
                  <input matInput type="email" name="email"  placeholder="Ex. abc@gmail.com" ngModel >
                </mat-form-field><br>
            
                <mat-form-field  class="mat-from">
                    <mat-label >MASSAGE</mat-label>
                    <textarea matInput name="massage" placeholder="Your massage" ngModel ></textarea>
                </mat-form-field><br>
    
                <button mat-raised-button color="warn" class="buttoncontact" >SEND</button>
    
            </form>
        </div>
    

    </div>

</div>






<div class="footermain">
    <div class="footshap">
    </div>

    <!--
    <mat-grid-list cols="3" rowHeight="70%" class="footinmain">
        
        <mat-grid-tile >
            <img alt="logo" [src]=logo class="footlogo">
            <h1 class="footh1"><strong>INDIA HIGH SCHOOL, INDIA</strong></h1>
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            <a href="https://www.instagram.com/" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
          

        </mat-grid-tile>
        <mat-grid-tile >
            <h1 class="footcompany"><strong>COMPANY</strong></h1>
            <h3 class="footcompp"><a href="" class="footlink"><strong>HOME</strong></a></h3>
            <h3 class="footcompp1"><a href="" class="footlink"><strong>ABOUT US</strong></a></h3>
            <h3 class="footcompp2"><a href="" class="footlink"><strong>CONTACT US</strong></a></h3>
            <h3 class="footcompp3"><a href="" class="footlink"><strong>BLOG</strong></a></h3>
            
        </mat-grid-tile>
        <mat-grid-tile >
            <h1 class="footcontact"><strong>CONTACT</strong></h1>
            <p class="footcontp">151, 15th Floor, B Wing,<br> Mittal Tower,Nariman Point,<br>Mumbai,<br>Pin- 421 567</p>
            <iframe src="https://www.google.com/maps?q=Randall Miller %26 Associates 300 E Broadway, Logansport, IN 46947&output=embed" class="map"></iframe>

         </mat-grid-tile>
        </mat-grid-list>
    -->
        

    <mat-grid-list [cols]=footcols [rowHeight]=rowHeight class="footinmain">
        <mat-grid-tile [colspan]=colspan2 >
            <img alt="logo" [src]=logo class="footlogo">
            <h1 class="footh1"><strong>INDIA HIGH SCHOOL, INDIA</strong></h1>
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            <a href="https://www.instagram.com/" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=colspan1 class="test2" >
            <h1 class="footcompany"><strong>COMPANY</strong></h1>
            <h3 class="footcompp"><a href="" class="footlink"><strong>HOME</strong></a></h3>
            <h3 class="footcompp1"><a href="" class="footlink"><strong>ABOUT US</strong></a></h3>
            <h3 class="footcompp2"><a href="" class="footlink"><strong>CONTACT US</strong></a></h3>
            <h3 class="footcompp3"><a href="" class="footlink"><strong>BLOG</strong></a></h3>
            
        </mat-grid-tile>
        <mat-grid-tile [colspan]=colspan2 >
            <h1 class="footcontact"><strong>CONTACT</strong></h1>
            <p class="footcontp">151, 15th Floor, B Wing,<br> Mittal Tower,Nariman Point,<br>Mumbai,<br>Pin- 421 567</p>
            <iframe src="10" id="gmap_canvas" src="https://maps.google.com/maps?q=University Of Mumbai&t=&z=13&ie=UTF8&iwloc=&output=embed" class="map"></iframe>

        </mat-grid-tile>
    </mat-grid-list>
    <div class="footcopy">
        ©2023, indiaschool.com, All rights reserved

    </div>

</div>





