<mat-grid-list cols="10" rowHeight="100%">
    <mat-grid-tile colspan="2" >
        <div class="mainnavdiv">
            <button class="navbutton" type="button" mat-button (click)="mainnav('tinfo')">
                INFO
            </button>

            <button class="navbutton" type="button" mat-button (click)="mainnav('timetable')">
                TIMETABLE
            </button>

            <button class="navbutton" type="button" mat-button (click)="mainnav('attendance')">
                ATTENDANCE
            </button>
    
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="8" class="maingrid">
        <div class="mainright">
            <app-tinfo id="tinfo" [style.display]="infodiv"></app-tinfo>
            <app-timetable id="timetable" [style.display]="ttdiv"></app-timetable>
            <app-tattendance id="tattan" [style.display]="tattan"></app-tattendance>


        </div>
        
        
        
    </mat-grid-tile>
  </mat-grid-list>
 
